# Temp folders created by Python and VScode
.vscode/
__pycache__/

# Virtual enviornment
venv/
env_us/

#data
src/hmfc_test_data/

#test
test.py

#train checkpoint
src/checkpoints/

# Code used for testing out things
testing/



# Personal files and folders
papers/
kanban/
CAD Models/
*.pdf
data/
figures/
ppo_ultrasound_tensorboard/
ppo_tensorboard/
src/weights/PPO/
reward_data/
simulation_data/
trained_models/
policy_data/
error_data/
src/my_models/assets/objects/meshes/human_body.STL
*.npy
